<div class="jumbotron">
  <h1 class="display-4">Welcome to Inventory Manager</h1>
  <p class="lead">A simple application to manage your inventory items.</p>
  <hr class="my-4">
  <p>Get started by adding items to your inventory.</p>
  <a class="btn btn-primary btn-lg" routerLink="/inventory" role="button">Go to Inventory</a>
</div>

<div class="row mt-4">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Track Items</h5>
        <p class="card-text">Keep track of all your inventory items in one place.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Manage Stock</h5>
        <p class="card-text">Update stock levels and get notified when items are running low.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Generate Reports</h5>
        <p class="card-text">Create reports to analyze your inventory data.</p>
      </div>
    </div>
  </div>
</div>